body {
    font-family: "Montserrat Alternates", serif;
    margin: 0%;
    padding: 0%;
    background-color: #f4fdfd;
}

header {
    display: flex;
    background-color: #f4fdfd;
    justify-content: space-between;
    align-items: center;
    color: #1d3f40;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 1px;
}


a {
    text-decoration: none;
    color: #1d3f40;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

li {
    list-style: none;
    display: inline;
}

.CentrarSeccion div {
    background-image: url(assets/image/seccion.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
}

.CentrarSeccion h1 {
    color: #1d3f40;
    font-size: 50px;
    text-align: center;
}

.CentrarSeccion p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #1d3f40;
    font-size: 20px;
}