body {
    font-family: "Montserrat Alternates", serif;
    margin: 0%;
    padding: 0%;
    background-color: #f4fdfd;
    padding-top: 100px;
}

header {
    display: flex;
    background-color: #f4fdfd;
    justify-content: space-between;
    align-items: center;
    color: #1d3f40;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 1px;
}


header a {
    text-decoration: none;
    color: #1d3f40;
}

header a:hover {
    background-color: #dfdfdf;
    border-radius: 20px;
    color: #000000;
}

header nav a {
    font-weight: 600;
    padding: 10px;
}

header li {
    list-style: none;
    display: inline;
}

.CentrarSeccion div {
    background-image: url(assets/image/seccion11.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
}

.CentrarSeccion h2 {
    color: #1d3f40;
    font-size: 50px;
    text-align: center;
}

.CentrarSeccion p {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #1d3f40;
    font-size: 20px;
}

button {
    align-items: center;
    background-color: #1d3f40;
    color: #f4fdfd;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
}


.CentrarDestinos {
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.CentrarDestinos h2 {
    color: #1d3f40;
    font-size: 40px;
    text-align: center;
}

.galeria-container {
    display: flex;
    justify-content: center;
    grid-gap: 40px;
}

.galeria {
    width: 300px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.galeria img {
    width: 100%;
    height: 100%;
}

.galeria:hover {
    transform: scale(1.1);
}

.pie {
    color: #1d3f40;
    text-align: center;
    padding: 10px;
}

.Contenedor-Nosotros {
    display: flex;
    padding: 50px;
}

.Contenedor-Nosotros h2 {
    color: #1d3f40;
    font-size: 40px;
    text-align: center;
}

.Contenedor-Nosotros h3 {
    color: #1d3f40;
    font-size: 25px;
    text-align: center;
}

.Contenedor-Nosotros ol {
    color: #1d3f40;
    margin-left: 250px;
}

.Contenedor-Nosotros p {
    color: #1d3f40;
    margin-left: 50px;
    text-align: center;
    font-size: 18px;
}


.imagen-ejemplo {
    margin-left: 50px;
}

.footer {
    position: relative;
    width: 100%;
    background-color: #1d3f40;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 50px;
    flex-wrap: wrap;
}

.icono-elemento {
    list-style: none;
}

.icon {
    color: #ffffff;
    font-size: 32px;
    display: inline-block;
    margin: 5px 20px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.menu-elemento {
    list-style: none;
}

.menu-icon {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.texto {
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

#comentarios {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
}

#comentarios h2 {
    text-align: center;
    color: #1d3f40;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
}

.comentarios-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;

}

.comentarios-container {
    display: flex;
    justify-content: space-between;
}

.comentario-form {
    width: 45%;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comentario-form .form-group {
    margin-bottom: 15px;
}

.comentario-form label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.comentario-form input,
.comentario-form textarea {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    margin: 0 6px;
}

.comentario-form input[type="text"],
.comentario-form input[type="email"],
.comentario-form input[type="date"] {
    height: 28px;
}

.comentario-form textarea {
    height: 70px;
}

.comentario-form button {
    display: block;
    width: calc(100% - 12px);
    padding: 8px;
    margin: 10px 6px 0 6px;
    background-color: #1d3f40;
    color: #f4fdfd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s;
}

.comentario-form button:hover {
    transform: scale(1.1);
}

#lista-comentarios {
    width: 50%;
    margin-top: 30px;
    position: relative;
}

.logo-comentarios {
    position: absolute;
    top: -50px;
    right: 0;
    width: 100px;
    height: auto;
}

.comentario {
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.comentario i.fa-user {
    font-size: 24px;
    margin-right: 10px;
    color: #1d3f40;
}

.comentario-texto {
    flex: 1;
}

.comentario h3 {
    margin: 0;
    color: #333;
    font-weight: 600;
}

.comentario p {
    margin: 10px 0 0;
    color: #555;
}

.comentario small {
    display: block;
    margin-top: 5px;
    color: #aaa;
    font-size: 0.9em;
}

form {
    margin-top: 30px;
}

form label {
    display: block;
    margin-top: 10px;
    color: #555;
}

form input,
form textarea {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    margin: 0 6px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    height: 28px;
}

form textarea {
    height: 70px;
}

form input[type="submit"] {
    display: block;
    width: calc(100% - 12px);
    padding: 8px;
    margin: 10px 6px 0 6px;
    background-color: #1d3f40;
    color: #f4fdfd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s;
}

form input[type="submit"]:hover {
    transform: scale(1.1);
}

.volver-index {
    text-align: center;
    margin-top: 20px;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d3f40;
    color: #f4fdfd;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: transform 0.3s;
}

.btn-volver:hover {
    transform: scale(1.1);
}